################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Piocicd/FileContentIndex/b62fe313-af64-445d-af02-ab00db9fcca0.vsidx
/.vs/Piocicd
